.loader {
  display: block;
  margin: 0 auto;
  animation: spin linear infinite .7s;

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}