@import "/src/style/general";

.hero {
  height: 500px;

  margin: 0 calc(var(--container-padding) * -1);

  background: (
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../static/images/hero-img.jpeg)
  );
  background-position: center, 50% 80%;
  background-size: cover, auto 200%;

  @include laptop {
    height: 650px;
    background-position: center, 53.8% 82.5%;
    background-size: cover, auto 234%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 380px;
    height: 100%;

    margin: 0 auto;
    padding: 40px 0;

    @include tablet {
      justify-content: center;
      padding: 0;
    }
  }

  &__title {
    @include title;
    margin-bottom: 21px;
    color: $light-color;
  }

  &__text {
    margin-bottom: 32px;
    text-align: center;
    color: $light-color;
  }
}
