@import "/src/style/general";

$padding: 20px;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: $padding;
  border-radius: 10px;
  background-color: $light-color;

  &__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &__text {
    max-width: calc(100% - $padding * 2);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
