$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;

$button-hover-color: #FFE302;
$button-inactive-color: #FFE302;

$light-color: #FFF;
$almost-black-color: #000000de;

$light-gray-color: #D0CFCF;
$gray-color: #7E7E7E;
$error-color: #CB3D40;