@import "/src/style/general";

.file-input {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 54px;


  &::before {
    display: flex;
    content: "Upload";
    padding: 0 14px;
    align-items: center;
    width: 83px;

    cursor: pointer;
    border: 1px solid $almost-black-color;
    border-radius: 4px 0 0 4px;
  }

  &::after {
    content: attr(data-placeholder);
    display: flex;
    align-items: center;
    flex-grow: 1;

    padding: 0 16px;

    border: 1px solid $light-gray-color;
    border-left: none;
    border-radius: 0 4px 4px 0;

    color: $gray-color;
  }

  &[data-filled="true"] {
    &::after {
      color: inherit;
    }
  }

  &--failed {
    &::before,
    &::after {
      border-color: $error-color;
      border-width: 2px;
    }
  }

  &__error {
    position: absolute;
    bottom: -4px;
    transform: translateY(100%);
    margin-left: 11px;
    size: $font-size-small;
    color: $error-color;
  }

  &__field {
    display: none;
  }
}
