@import "/src/style/general";

.title {
  margin-bottom: 50px;
  @include title;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin: 0 auto 100px;

  &__radio-buttons {
    margin-bottom: 40px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 43px;
  }

  &__radio-title {
    margin-bottom: 11px;
  }

  &__file-input {
    margin-bottom: 50px;
  }

  &__submit {
    margin: 0 auto;
  }
}