@import "/src/style/general";

.app {
  display: flex;
  flex-direction: column;
  gap: 140px;
  background-color: $background-color;

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
