@import "/src/style/general";

.input{
  position: relative;

  &__field {
    display: block;
    width: 100%;
    height: 54px;
    padding: 0 16px;
    border: 1px solid $light-gray-color;
    border-radius: 4px;

    &::placeholder {
      color: $gray-color;
    }
  }

  &__label {
    position: absolute;
    left: 7px;
    transform: translateY(-50%);

    padding: 0 4px;
    size: $font-size-small;
    color: $gray-color;
    background-color: $background-color;
  }

  &__info {
    position: absolute;
    bottom: -4px;
    transform: translateY(100%);
    margin-left: 11px;
    size: $font-size-small;
    color: $gray-color;
  }

  &--failed &__field {
    border: 2px solid $error-color;
  }

  &--failed &__label,
  &--failed &__info {
    color: $error-color;
  }
}
